spring:
  application:
    name: dev-log

  profiles:
    active: local # 각자 로컬에서는 local 프로필을 사용하도록 기본값 설정

### 위는 application.yml에 넣어주세요 ###
### 아래는 application-local.yml에 넣어주세요 ###

spring:
  datasource:
    url: jdbc: # 여기에 각자 DB 이름 입력
    username:  # 여기에 각자 DB 유저네임 입력
    password:  # 여기에 각자 DB 비밀번호 입력
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect